<footer class="bg-dark py-5 row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
<div class="col-12 text-center py-2 order-sm-2">
  <small class="text-white">
    © 2020 {{ site.author }}
    &bull; All Rights Reserved
    {% if site.privacy %}&bull; <a href="{{ site.privacy }}" target="_blank">Privacy Policy</a>{% endif %}
    {% if site.twitter %}&bull; <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fab fa-twitter"></i> @{{ site.twitter }}</a>{% endif %}
    &bull; <a href="https://github.com/pforret"><i class="fab fa-github"></i> github.com/pforret</a>
    &bull; <a href="https://blog.forret.com"><i class="fab fa-wordpress"></i> blog.forret.com</a>
    &bull; <a href="https://toolstud.io"><i class="fas fa-tools"></i> toolstud.io</a>
    &bull; <a href="https://nuuz.io/laravel"><i class="fas fa-newspaper"></i> nuuz.io/laravel</a>
  </small>
      </div>
    </div>
  </div>
</footer>
